
.background{
    background-image:url(/images/bluebackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.headLinks{
    display: flex ;
    justify-content: space-around;
    background-color: rgba(105, 105, 105, 0);
    padding: 5px;
}

.headImgs{
    width: 50px;
}

.selfimage{
    width: 80%;
    height: auto;
}

.liststuff{
    font-size: x-large;

}

.maindiv{
    display: flex;
    justify-content: space-;
    padding-left: 25px;
    padding-right: 25px;
    color:springgreen;
}

.intro{
    font-size: larger;
}

.third{
    width: 33%;
    display: inline-block;
    margin: 20px;
}

.foot{
    color: chartreuse;
    display: flex;
    justify-content: end;
    margin-top: 6px;
}